@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-text: var(--text);
  --font-sora: "Sora", sans-serif;
  --aspect-banner: 1540/694;
  --aspect-img: 1062/563;
  --aspect-mbl: 9/16;
}

:root {
  --primary: #9538e2;
  --secondary: #0b0b0b;
  --text: #09080f99;
}
body {
  font-family: "Sora", serif;
  background: #f6f6f6;
}
.title {
  @apply text-lg md:text-2xl font-sora font-semibold text-secondary;
}
.sec-title {
  @apply font-sora text-xl md:text-[32px] md:leading-[40px] font-bold;
}
.big-title {
  @apply font-sora text-2xl md:text-[40px] md:leading-[48px] font-bold;
}
.menu-btn {
  @apply text-lg bg-secondary/10 text-text font-sora font-medium px-[28px] py-[14px] hover:bg-primary hover:text-white duration-300 rounded-full;
}
.menu-btn.active {
  @apply bg-primary text-white;
}
.home {
  @apply text-white;
}
.home .desk-nav li a {
  @apply text-white;
}
.home .desk-nav li a.active {
  @apply border-b border-white;
}
.desk-nav li a {
  @apply text-secondary/70;
}
.desk-nav li a.active {
  @apply border-b border-primary;
}
.container {
  @apply mx-auto px-3 lg:px-0 xl:w-[1280px];
}
@media screen and (min-width: 1280px) and (max-width: 1536px) {
  footer {
    margin-top: 380px;
  }
}
